/* 1. Box Sizing Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Body Styling */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}